.content-section{
	color: $dark-font-color;
	&.gray{
		background: $primary-gray;
		color: $light-font-color;
	}
	&.green{
		background: $primary-green;
		color: $light-font-color;
	}
}

.col-content{
	padding: 0 57px;
	&.top{
		padding-top: 68px;
	}
	&.bottom{
		padding-bottom: 100px;
	}
	&.top-full-width{
		padding-top: 110px;
	}
	@media(max-width: 1600px) {
		padding: 0 30px;
	}
	@media(max-width: 1368px) {
		padding: 0;
		&.top,
		&.top-full-width{
			padding-top: 45px;
		}
		&.bottom{
			padding-bottom: 45px;
		}
	}
}